<div class="form-group">

    <label for="startingLocation">Starting location</label>
    <input type="text" class="form-control" id="startingLocation"
           required
           [(ngModel)]="startingLocation" name="startingLocation">
    <label for="destination">Destination</label>
    <input type="text" class="form-control" id="destination"
           required
           [(ngModel)]="destination" name="destination">
    <label for="dateOfFlight">Date of flight</label>
    <input type="text" class="form-control" id="dateOfFlight"
           [(ngModel)]="dateOfFlight" name="dateOfFlight">
  <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
</div>
