<p>List of all flights</p>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Starting location</th>
    <th scope="col">Destination</th>
    <th scope="col">Duration of flight</th>
    <th scope="col">Date of departure</th>
    <th scope="col">Date of arrival</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let flight of flights">
    <th scope="row"> {{flight.id}}</th>
    <td> {{ flight.startingLocation }}</td>
    <td> {{ flight.destination }}</td>
    <td> {{ flight.durationOfFlight }}</td>
    <td> {{ flight.dateOfDeparture }}</td>
    <td> {{ flight.dateOfArrival }}</td>
  </tr>
  </tbody>
</table>


